html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

[hidden] {
  display: none;
}

textarea {
  resize: none;
}

.bookmark-list-item {
  border: 1px solid black;
}